<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Inicio</title>
  <!-- CSS  -->
  {{ style('materialize.min.css') }}
</head>
<body>
  <nav class="light-blue teal lightseagreen" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="" class="brand-logo">Inicio</a>
    </div>
  </nav>
  
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      
     
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
     
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
             
            <h2 class="center light-blue-text"><a href="/alumnos"><img src="/images/alum1NN.jpg" alt="" class="circle responsive-img"></a> </h2>
            <h5 class="center">Alumnos</h5>

            <p class="light">Dirijase a este apartado para la gestion de alumnos. Cree nuevos alumnos, edite sus datos y también podrá eliminarlos.</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href="/materias"><img src="/images/mat1N.jpg" alt="" class="circle responsive-img"></a></h2>
            <h5 class="center">Materias</h5>

            <p class="light">En este apartado puede crear nuevas materias, editar los datos, visualizarlos y eliminarlos</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"> <a href="/registros"><img src="/images/regis1N.png" alt="" class="circle responsive-img"></a></h2>
            <h5 class="center">Registros</h5>

            <p class="light">Lleve a cabo el registro de alumnos con materias, edite estos datos o eliminelos.</p>
          </div>
        </div>


        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href="/calificacions"><img src="/images/calif3N.jpg" alt="" class="circle responsive-img"></a></h2>
            <h5 class="center">Calificaciones</h5>

            <p class="light">En este apartado podrá asignar calificaciones a los alumnos registrados en alguna materia.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer style="height:120px" class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text"></h5>
        </div>
         
         
      </div>
    </div>
  </footer>
  </body>
</html>
