<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title></title> 
  {{ style('materialize.min.css') }}
</head>
<body bgcolor="lightseagreen">
        <nav class="light-blue teal lightseagreen" role="navigation">
                <div class="nav-wrapper container"><a id="logo-container" class="brand-logo">Visualización de datos</a>
                </div>
            </nav>
   <div style="margin-left:20px">
        <span style="margin-left:20%; "><strong></strong></span>
        <br>
        <br>
        <form action="/materias/volver" >
            <label style="color:black" >Nombre</label><br>
            <input style="border-radius:10px;width:210px; border-color:blue;"type="text"
                name="nombre" value="{{materia.nombre}}"/><br>
            <label style="color:black">Plan</label><br>
            <input style="border-radius:10px;width:210px; border-color:blue;"type="text"
                name="plan" value="{{materia.plan}}"/><br>           
            <label style="color:black">Descripcion</label><br>
            <input style="border-radius:10px;width:210px; border-color:blue;"type="text"
                name="descripcion" value="{{materia.descripcion}}"/><br>    
            <input style="background-color:;color:blue;border-radius:3px;margin-left:6%" type="submit" value="Volver"/>      
        </form>      
    </div >  
</body>
</html>